#root {
  margin: 0 auto;
  text-align: center;
}

.hero {
  background-color: #21455e;
  color: #ece73f;
  padding: 2rem;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  text-transform: uppercase;
}

.scoreBoard {
  margin: 20px auto;
  text-transform: uppercase;
}

.userSelection {
  margin: 20px auto;
  text-transform: uppercase;
}

.result {
  margin: 20px auto;
  text-transform: uppercase;
}

.userOptions {
  padding: 20px 50px;
  overflow-x: auto;
}
